[submodule ".registry"]
	path = .registry
	url = https://github.com/rmhogervorst/universe
	branch = HEAD
[submodule "badgecreatr"]
	path = badgecreatr
	url = https://github.com/RMHogervorst/badgecreatr
[submodule "banana"]
	path = banana
	url = https://github.com/RMHogervorst/banana
[submodule "coffeegeeks"]
	path = coffeegeeks
	url = https://github.com/RMHogervorst/coffeegeeks
[submodule "gephi"]
	path = gephi
	url = https://github.com/RMHogervorst/gephi
[submodule "imdb"]
	path = imdb
	url = https://github.com/RMHogervorst/imdb
[submodule "nsapi"]
	path = nsapi
	url = https://github.com/RMHogervorst/nsapi
[submodule "pinboardr"]
	path = pinboardr
	url = https://github.com/RMHogervorst/pinboardr
